In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Marks.csv")

In [3]:
df

          Name  Vishesh  Vibhav  Sumit  Rohit  Tushar
0   Electronic       89      95     15   59.0      84
1        Maths       91      87     59   75.0      89
2    Chemistry       94      91     45   85.0      45
3   Machenical       94      89     74   79.0      81
4  Soft Skills       92      85     49    NaN      86

In [4]:
def Count(columns):
    dict={}
    dict["stats"]="Mean"
    for col in columns:
        s=0
        list1 = df[col].tolist()
        n = len(list1)
        for i in range(len(list1)):
            s += 1
        sum = s
        dict[col] = sum
    df1 = pd.DataFrame(dict,index = (1,1))
    print(df1)
    
def Mean(columns):
    dict={}
    dict["stats"]="Mean"
    for col in columns:
        s=0
        list2 = df[col].tolist()
        n = len(list2)
        for i in range(len(list2)):
            s += list2[i]
        mean = s/n
        dict[col] = mean
    df1 = pd.DataFrame(dict,index = (1,1))
    print(df1)

def Max(columns):
    dict={}
    dict["stats"]="Max"
    for col in columns:
        s=0
        list3 = df[col].tolist()
        n = len(list3)
        a = list3[0]
        for i in range(len(list3)):
            if (a < list3[i]):
                a = list3[i]
        dict[col] = a
    df1 = pd.DataFrame(dict,index = (1,1))
    print(df1)
    

def Min(columns):
    dict={}
    dict["stats"]="Min"
    for col in columns:
        s=0
        list4 = df[col].tolist()
        n = len(list4)
        a = list4[0]
        for i in range(len(list4)):
            if (a>list4[i]):
                a = list4[i]
        dict[col] = a
    df1 = pd.DataFrame(dict,index = (1,1))
    print(df1)
    
    
def Std(columns):
    print("standard deviation")
    print(df.std(),"\n")

In [5]:
def Describe(df):
    columns = df.columns.tolist()
    dtypes = df.dtypes.to_dict()
    for keys in dtypes:
        if dtypes[keys] == object:
            columns.remove(keys)
    Count(columns)
    Max(columns)
    Min(columns)
    Mean(columns)

In [6]:
Describe(df)

  stats  Vishesh  Vibhav  Sumit  Rohit  Tushar
1  Mean        5       5      5      5       5
1  Mean        5       5      5      5       5
  stats  Vishesh  Vibhav  Sumit  Rohit  Tushar
1   Max       94      95     74   85.0      89
1   Max       94      95     74   85.0      89
  stats  Vishesh  Vibhav  Sumit  Rohit  Tushar
1   Min       89      85     15   59.0      45
1   Min       89      85     15   59.0      45
  stats  Vishesh  Vibhav  Sumit  Rohit  Tushar
1  Mean     92.0    89.4   48.4    NaN    77.0
1  Mean     92.0    89.4   48.4    NaN    77.0