In [7]:
print("Hello World")

Hello World

In [8]:
#To find type of datatype we us typr() function
type(10)

int

In [9]:
# Storing value in x
x=80
# division operator
print(x/7)
# multiplication operation
print(x*5)
# modulus operator
print(x%7)
# addition operator
print(x+8)
# subtraction operation
print(x-43)

11.428571428571429
400
3
88
37

In [10]:
print(bool(0))

False

In [11]:

x="Vishesh"
print(x)
print(str(x))
# print(int(x)) gives error
# print(bool(x)) gives error
x=60
print(x)
print(int(x))
print(float(x))
print(str(x))
print(bool(x))

Vishesh
Vishesh
60
60
60.0
60
True

In [12]:
a = int(input("Enter a value:   "))
b = int(input("Enter a value:   "))
if a>b:
    print(f"{a} is greater than {b}")
    print("if statement is working here")
    
elif b>a:
    print(f"{b} is greater than {a}")
    print("elif statement is working here")
    
else:
    print("Both are equal")
    print("else statement is working here")

ValueError: invalid literal for int() with base 10: ''

In [13]:
# And
x= int(input("Enter a value:   "))
y= int(input("Enter a value:   "))
z= int(input("Enter a value:   "))
if x<y and x<z:
    print(f"{x} is smallest")
elif x>y and x<z:
    print(f"{x} is neither smallest nor largest")
elif x>y and x>z:
    print(f"{x} is largest")
else:
    print("Error")

ValueError: invalid literal for int() with base 10: ''

In [14]:
# Or
x= int(input("Enter a value:   "))
y= int(input("Enter a value:   "))
z= int(input("Enter a value:   "))
if x<y and x<z:
    print(f"{x} is small than any one if {y} {z}")
elif x>y or x<z:
    print(f"{x} is neither smallest nor largest")
elif x>y or x>z:
    print(f"{x} is largest")
else:
    print("Error")

ValueError: invalid literal for int() with base 10: ''

In [15]:
# Largest value of 3 input int
x= int(input("Enter a value:   "))
y= int(input("Enter a value:   "))
z= int(input("Enter a value:   "))
if x>y and x>z:
    print(f"{x} is largest")
elif y>x and y>z:
    print(f"{y} is largest")
elif z>x and z>y:
    print(f"{z} is largest")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#looping
print("For loop with new line character")
for i in range(0,10):
    print(i)
i = 0
print("While loop without new line character")
while i<10:
    print(i,end=" ")
    i += 1

# List

In [16]:
list = []

In [17]:
# Add element at the end
list.append(10)
list.append("Vishesh")
list.append(10.6)
print(list)

[10, 'Vishesh', 10.6]

In [18]:
# Add element at specific index
list.insert(1,"hello")
print(list)

[10, 'hello', 'Vishesh', 10.6]

In [19]:
# To delete specific element 
list.remove(10)
print(list)

['hello', 'Vishesh', 10.6]

In [20]:
# To delete element at specific index
list.pop(0)
print(list)

['Vishesh', 10.6]

In [21]:
# To sort values, strings
list1 = [10,23,2,345,223,3212,343,1,24,54]
list2 = ["vishesh","Vishesh","innogeeks","clap"]
list1.sort
print("Sort acending order   ",list1)
list2.sort
print("Sort alphabetically   ",list2)
# To sort length wise
list2.sort(key=len)
print("Sort length wise      ",list2)

Sort acending order    [10, 23, 2, 345, 223, 3212, 343, 1, 24, 54]
Sort alphabetically    ['vishesh', 'Vishesh', 'innogeeks', 'clap']
Sort length wise       ['clap', 'vishesh', 'Vishesh', 'innogeeks']

In [22]:
# To add sq of 1 to 10
list3 = []
for i in range(1,11):
    list3.append(i**2)
print(list3)
# Same program in single line ie list comperhension
list4 = [j**2 for j in range(1,11)]
print(list4)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
name = ["Vishesh","saket","Rohit"]
marks = [95,89,45]
list = []
for i in name:
    for j in marks:
        list.append((i,j))
print(list)

[('Vishesh', 95), ('Vishesh', 89), ('Vishesh', 45), ('saket', 95), ('saket', 89), ('saket', 45), ('Rohit', 95), ('Rohit', 89), ('Rohit', 45)]

In [24]:
# 2D list
a = [[0,1,2],[3,4,5],[6,7,8]]
for i in range(0,3):
    for j in range(0,3):
        print(a[i][j], end=" ")
    print("\n")

0 1 2

3 4 5

6 7 8

#  Dictionary

In [25]:
dict = {"key1":"value1","key2":"value2","key3":"value3"}
print(dict["key2"])
print("keys are   ",dict.keys())
print("Items are  ",dict.items())

value2
keys are    dict_keys(['key1', 'key2', 'key3'])
Items are   dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [26]:
list1 = ["Webd","ML","Cloud","C","C++","Python","Rust"]
list2 = ["Classes","Assigment","Lab manual"]
list3 = ["Fun","Less assignment","Free period"]
dict = {"Year4":list1,"Year1":list2,"Year2":list3}
print(dict)

{'Year4': ['Webd', 'ML', 'Cloud', 'C', 'C++', 'Python', 'Rust'], 'Year1': ['Classes', 'Assigment', 'Lab manual'], 'Year2': ['Fun', 'Less assignment', 'Free period']}

In [27]:
for keys,values in dict.items():
    print(keys,values)

Year4 ['Webd', 'ML', 'Cloud', 'C', 'C++', 'Python', 'Rust']
Year1 ['Classes', 'Assigment', 'Lab manual']
Year2 ['Fun', 'Less assignment', 'Free period']

In [28]:
import sys

In [29]:
list = [1,2,3,4,5,6,7]

In [30]:
sys.getsizeof(list)

120

# Sub stringing 
### Format variable[start:stop-1:skip]

In [31]:
a = "Hello World!"

In [32]:
print(a[0:12]) # Equal to print(a[::])

Hello World!

In [33]:
# Start from 0 end at last index
print(a[1:8])

ello Wo

In [34]:
# Start from 2nd end at last index
print(a[2:])

llo World!

In [35]:
# Start from 0 end at 4th index
print(a[:5])

Hello

In [36]:
# Skiping letters
print(a[0:11:2])

HloWrd

In [37]:
# Reverced 
print(a[::-1])

!dlroW olleH

In [38]:
print(f"String convert to fully upper case {a.upper()}")
print(f"String convert to fully lower case {a.lower()}")

String convert to fully upper case HELLO WORLD!
String convert to fully lower case hello world!

In [39]:
# String addition
str1 = "hi my name is Vishesh"
print(str1 +" Maurya"+" 14")

hi my name is Vishesh Maurya 14

# Functions

In [40]:
def printANum(x):
    print(x)

In [41]:
printANum(46)

46

In [42]:
import sam
sam.function()

Hello

In [43]:
def inno(size):
    print("Vishesh"+size)
inno("12")

Vishesh12

In [44]:
def inno1(*size):
    print("Vishesh"+size[1]+size[2]+size[0])

In [45]:
inno1("4","3","2")

Vishesh324

In [46]:
import sam
sam.fun()

i am fine

# Basic syntax of a function

In [ ]:
# To make code more efficient we check to only n/2+1
def prime(n):
    c=0
    for i in range(2,int(n/2+1)):
        if n%i==0:
            c += 1
    if c==0:
        print(f"{n} is a prime no.")
    else:
        print(f"{n} is a not a prime no.")

        
num=int(input("Enter a no.   "))
prime(num)

In [ ]:
def prime():
    for j in range(2,101):
        c=1
        for i in range(2,j):
            if j%i==0:
                c += 1
        if c==1:
            print(f"{j} is a prime number")
                
        
prime()

2 is a prime no.
3 is a prime no.
5 is a prime no.
7 is a prime no.
11 is a prime no.
13 is a prime no.
17 is a prime no.
19 is a prime no.
23 is a prime no.
29 is a prime no.
31 is a prime no.
37 is a prime no.
41 is a prime no.
43 is a prime no.
47 is a prime no.
53 is a prime no.
59 is a prime no.
61 is a prime no.
67 is a prime no.
71 is a prime no.
73 is a prime no.
79 is a prime no.
83 is a prime no.
89 is a prime no.
97 is a prime no.