# Pandas

In [1]:
import pandas as pd

## Series

In [2]:
# Creating a Series using list with default indexing
names = ["Vishesh","Tushar","Rohit","Sakat"]
ser1 = pd.Series(names)
print(ser1)

0    Vishesh
1     Tushar
2      Rohit
3      Sakat
dtype: object

In [3]:
# Creating a Series using list specific indexing
names = ["Vishesh","Tushar","Rohit","Sakat"]
ser1 = pd.Series(names,index=range(1,5))
print(ser1,"\n")

ser1 = pd.Series(names,index=[10,20,30,59])
print(ser1)

1    Vishesh
2     Tushar
3      Rohit
4      Sakat
dtype: object

10    Vishesh
20     Tushar
30      Rohit
59      Sakat
dtype: object

In [4]:
type(ser1)

pandas.core.series.Series

In [5]:
# Creating a series using dictionary
rank = {"1st":"Vishesh","2nd":"Sakat","3":"Sumit","4th":"Rohit"}
ser2 = pd.Series(rank)
print(ser2)

1st    Vishesh
2nd      Sakat
3        Sumit
4th      Rohit
dtype: object

In [6]:
rank = {"1st":["Vishesh" , "V"],"2nd":["Sakat","P"],"3rd":["Sumit","R"],"4th":["Rohit","M"]}
ser2 = pd.Series(rank)
print(ser2)

1st    [Vishesh, V]
2nd      [Sakat, P]
3rd      [Sumit, R]
4th      [Rohit, M]
dtype: object

## Dataframe

In [26]:
# Creating Dataframe with default indexing
maxTemp = [18,19,20,20,22,23,17]
minTemp = [10,12,13,11,15,16,10]
event = ["Rain","Thunderstrome","Rain","Fog","Smoge","Sunny","Fog"]
days = ["Sunday","Monday","Tuesday","Wednesday","Thusday","Friday","Saturday"]
windSpeed = [10,14,8,12,32,12,19]

weather = {"Day":days,"Max Temperature":maxTemp,"Min Temperature":minTemp,"Wind speed":windSpeed,"Event":event}
df1 = pd.DataFrame(weather)
print(df1)

         Day  Max Temperature  Min Temperature  Wind speed          Event
0     Sunday               18               10          10           Rain
1     Monday               19               12          14  Thunderstrome
2    Tuesday               20               13           8           Rain
3  Wednesday               20               11          12            Fog
4    Thusday               22               15          32          Smoge
5     Friday               23               16          12          Sunny
6   Saturday               17               10          19            Fog

## Exporting a dataframe to CSV file

In [27]:
df1.to_csv("Weather data.csv")

## Import CSV file

In [28]:
df2 = pd.read_csv("weather data.csv")
df2

,Unnamed: 0,Day,Max Temperature,Min Temperature,Wind speed,Event
0,0,Sunday,18,10,10,Rain
1,1,Monday,19,12,14,Thunderstrome
2,2,Tuesday,20,13,8,Rain
3,3,Wednesday,20,11,12,Fog
4,4,Thusday,22,15,32,Smoge
5,5,Friday,23,16,12,Sunny
6,6,Saturday,17,10,19,Fog

In [32]:
df2=df2[['Day','Max Temperature','Min Temperature','Wind speed','Event']]
df2

         Day  Max Temperature  Min Temperature  Wind speed          Event
0     Sunday               18               10          10           Rain
1     Monday               19               12          14  Thunderstrome
2    Tuesday               20               13           8           Rain
3  Wednesday               20               11          12            Fog
4    Thusday               22               15          32          Smoge
5     Friday               23               16          12          Sunny
6   Saturday               17               10          19            Fog

In [10]:
# Size of CSV
df2.shape

(7, 6)

In [11]:
print(df2.head(2),"\n")
print(df2.tail(2))

   Unnamed: 0     Day  Max Temperature  Min Temperature  Wind speed  \
0           0  Sunday               18               10          10
1           1  Monday               19               12          14

           Event
0           Rain
1  Thunderstrome

   Unnamed: 0       Day  Max Temperature  Min Temperature  Wind speed  Event
5           5    Friday               23               16          12  Sunny
6           6  Saturday               17               10          19    Fog

In [12]:
df2["Event"] # or df2.Event

0             Rain
1    Thunderstrome
2             Rain
3              Fog
4            Smoge
5            Sunny
6              Fog
Name: Event, dtype: object

In [13]:
df2[["Event", "Max Temperature"]]

           Event  Max Temperature
0           Rain               18
1  Thunderstrome               19
2           Rain               20
3            Fog               20
4          Smoge               22
5          Sunny               23
6            Fog               17

In [14]:
df2[1:4]

,Unnamed: 0,Day,Max Temperature,Min Temperature,Wind speed,Event
1,1,Monday,19,12,14,Thunderstrome
2,2,Tuesday,20,13,8,Rain
3,3,Wednesday,20,11,12,Fog

## Operations

In [15]:
df2.max()

Unnamed: 0                     6
Day                    Wednesday
Max Temperature               23
Min Temperature               16
Wind speed                    32
Event              Thunderstrome
dtype: object

In [16]:
df2[["Max Temperature","Wind speed"]].max()

Max Temperature    23
Wind speed         32
dtype: int64

In [17]:
df2[df2["Max Temperature"]>21]

   Unnamed: 0      Day  Max Temperature  Min Temperature  Wind speed  Event
4           4  Thusday               22               15          32  Smoge
5           5   Friday               23               16          12  Sunny

In [19]:
df2.describe()

       Unnamed: 0  Max Temperature  Min Temperature  Wind speed
count    7.000000         7.000000         7.000000    7.000000
mean     3.000000        19.857143        12.428571   15.285714
std      2.160247         2.115701         2.370453    8.138679
min      0.000000        17.000000        10.000000    8.000000
25%      1.500000        18.500000        10.500000   11.000000
50%      3.000000        20.000000        12.000000   12.000000
75%      4.500000        21.000000        14.000000   16.500000
max      6.000000        23.000000        16.000000   32.000000

In [20]:
df2.set_index("Day")

,Unnamed: 0,Max Temperature,Min Temperature,Wind speed,Event
Day,,,,,
Sunday,0,18,10,10,Rain
Monday,1,19,12,14,Thunderstrome
Tuesday,2,20,13,8,Rain
Wednesday,3,20,11,12,Fog
Thusday,4,22,15,32,Smoge
Friday,5,23,16,12,Sunny
Saturday,6,17,10,19,Fog

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       7 non-null      int64
 1   Day              7 non-null      object
 2   Max Temperature  7 non-null      int64
 3   Min Temperature  7 non-null      int64
 4   Wind speed       7 non-null      int64
 5   Event            7 non-null      object
dtypes: int64(4), object(2)
memory usage: 464.0+ bytes

In [22]:
df2.corr()

                 Unnamed: 0  Max Temperature  Min Temperature  Wind speed
Unnamed: 0         1.000000         0.255264         0.325472    0.445543
Max Temperature    0.255264         1.000000         0.944753    0.235067
Min Temperature    0.325472         0.944753         1.000000    0.312238
Wind speed         0.445543         0.235067         0.312238    1.000000